###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.local.exemple
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/.env.prod
/.env/
/var/
/vendor/
/backoffice/
/microservice/
/.env
/front/ 
/documentations/
/mysql_data/
/tests/
.claude/

.vscode/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/front/node_modules
###> symfony/webpack-encore-bundle ###
/node_modules/

npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

# MySQL data directory
mysql_data/

# Ignore env du microservice
microservice/ia-service/.env


# Ignore les fichiers de build
backoffice/
front/build-output
front/public/build/.vite/