<IfModule mod_rewrite.c>
    RewriteEngine On

    # Empêche l'accès direct aux fichiers sensibles
    RewriteRule ^(vendor|var|config|src|templates|migrations)/ - [F,L]

    # Si le fichier existe dans public, on le sert
    RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f
    RewriteRule ^(.*)$ public/$1 [L]

    # Sinon, on passe par le front controller Symfony
    RewriteRule ^ public/index.php [L]
</IfModule>
